<!DOCTYPE html>
<html>
<head>
	<title>Numerology App</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<link rel="stylesheet" href="/css/person.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<main>
		<div class="container-fluid">
			<h1 class="site-title"><a href="/">Numerology App</a></h1>
			<div class="message">
				<%= yield %>
			</div>
		</div> <!-- .container -->
	</main>
</body>
</html>